<template name="list">

    <div class="Column-header">
      <div class="Landing-URL">{{Landingpath}}</div>
      <button class="pt-button New-URL-Button" >New URL</button>
    </div>

    <div class="List-container">

    <div class="grid-margin-y custom-column">

      <div class="Custom-list">
        {{#each links}}
          <div class="cell small-4 UTM-Links" >
            <div class="UTM-Link" onclick="" value="{{UTMUrl}}" dir="auto">{{UTMUrldisplay}}</div>
            <div class="Click-copy" >Clcik to copy</div>
          </div>
        {{/each}}
      </div>

    </div>
  </div>

</template>
