<template name="form">


      <div class="form-cointainer">
        <form class="grid-x info-link-add">
          <input type="url" class="pt-input cell" name="WebsiteURL" placeholder="Website URL" required>
          <input type="text" class="pt-input cell" name="Source" placeholder="Campaign Source" >
          <input type="text" class="pt-input cell" name="Medium" placeholder="Campaign Medium" >
          <input type="text" class="pt-input cell" name="Name" placeholder="Campaign Name" >
          <input type="text" class="pt-input cell" name="Term" placeholder="Campaign Term" >
          <input type="text" class="pt-input cell" name="Content" placeholder="Campaign Content" >
          <button type="submit" name="" class="pt-button pt-minimal pt-intent-danger cell small-6" value="">Cancel</button>
          <button type="submit" name="submit" class="pt-button pt-intent-primary cell small-6" value="">New URL</button>
        </form>
      </div>




</template>
