<template name="form">
  <h2>New UTM url</h2>

  {{> loginButtons}}
  <ul>
    <li>
      <form class="info-link-add">
        <li><input type="url" class="pt-input" name="WebsiteURL" placeholder="Website URL" required></li>
        <li><input type="text" class="pt-input" name="Source" placeholder="Campaign Source" ></li>
        <li><input type="text" class="pt-input" name="Medium" placeholder="Campaign Medium" ></li>
        <li><input type="text" class="pt-input" name="Name" placeholder="Campaign Name" ></li>
        <li><input type="text" class="pt-input" name="Term" placeholder="Campaign Term" ></li>
        <li><input type="text" class="pt-input" name="Content" placeholder="Campaign Content" ></li>
        <button type="submit" name="submit" class="pt-button" value="">Save new URL</button>
      </form>
      <!-- <button type="button" class="pt-button pt-icon-add .modifier" :modifier>Button</button> -->
    </li>

  </ul>
</template>
